* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 60%;
  margin: 50px auto;
}
.header {
  width: 100%;
  background-color: rgba(148, 145, 145, 0.5);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  width: 90%;
  margin: auto;
}
.navbar h1 {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 500;
}
.navbar ul li {
  display: inline-block;
  list-style: none;
  padding: 6px 15px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 550;
}
.intro {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 12% auto;
}
.intro img {
  width: 350px;
}
.food {
  margin-top: 150px;
  font-size: larger;
}
.food h1 {
  font-size: 60px;
  color: green;
}
.food p {
  color: black;
  font-size: 4opx;
}
.food button {
  background-color: green;
  border: none;
  color: white;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
h2 {
  text-align: center;
  font-size: 40px;
}
.middle {
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  gap: 20px;
}
.last-one img {
  width: 80px;
  margin: 5% 120px;
}
.last-one h1 {
  text-align: center;
}
.last-one p {
  color: black;
  text-align: center;
}
p {
  color: blue;
  align-items: center;
}
.heading {
  text-align: center;
}

.heading h2 {
  text-align: center;
  font-size: 50px;
}
.items {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 4% auto;
}
.Fast-food img {
  width: 200px;
}
.main-items {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 12% auto;
  gap: 100px;
}
.main-items img {
  width: 300px;
}
.about {
  margin-top: 80px;
}
.about h1 {
  font-size: 40px;
}
.about p {
  color: black;
}
.about img {
  width: 120px;
}
.about button {
  background-color: green;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.ending {
  display: flex;
  justify-content: space-between;
}
.ending p {
  color: black;
}
.ending button {
  background-color: rgb(156, 167, 167);
  border-radius: 5px;
  height: 30px;
  border: none;
}
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 12px auto;
  margin-top: 100px;
  margin-left: 200px;
}
td,
th {
  text-align: left;
  padding: 8px;
}
.zee {
  margin-top: 60px;
  color: black;
  text-align: center;
}
